<%= link_to 'Home', "/" %> | 
<%= link_to 'Add New Job Type', new_job_type_path %>
<hr />

<h1>Manage Job Types</h1>
<span style="font-size: x-small; color: gray;">
	* Click Edit Job Details to assign details to that job type.<br />
	* Click Edit Job Name to edit the job's name.<br />
	* Click Delete Job Type to delete the the job type and all associated job details. You will be prompted to confirm deletion.<br />
</span>
<br />

<table>
  <tr>
    <th>Job Name</th>
	<th>Options</th>
  </tr>

<% for job_type in @job_types %>
  <tr>
    <td><%=h job_type.label %></td>
    <td><%= link_to 'Edit Job Details', job_type_path(job_type) %> | 
		<%= link_to 'Edit Job Name', edit_job_type_path(job_type) %> | 
		<%= link_to 'Delete Job Type', job_type_path(job_type),
		:confirm => 'Are you sure you want to delete this job type and all job details?',
		:method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<hr />

<%= link_to 'Home', "/" %> | 
<%= link_to 'Add New Job Type', new_job_type_path %>