<%= link_to 'Home', "/" %> | 
<%= link_to 'Add New Customer', new_customer_path %> | 
<%= link_to 'Search Customers', "/search" %>
<hr />

<h1>Neth & Son Customers</h1>
<span style="font-size: x-small; color: gray;">
	* Click View to view the customer information, a summary of contracts assigned to that customer, and manage the customer's contracts.<br />
	* Click Edit to edit the customer's name, address, or phone number.<br />
	* Click Delete to delete the customer and all contracts assigned to that customer. You will be prompted to confirm deletion.<br />
</span>
<br>
<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Primary Phone</th>
    <th>Alt. Phone</th>
    <th>Street 1</th>
    <th>Street 2</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
	<th>Option</th>
  </tr>

<% for customer in @customers %>
  <tr>
    <td><%=h customer.first_name %></td>
    <td><%=h customer.last_name %></td>
    <td><%=h customer.phone_primary %></td>
    <td><%=h customer.phone_alt %></td>
    <td><%=h customer.street_1 %></td>
    <td><%=h customer.street_2 %></td>
    <td><%=h customer.city %></td>
    <td><%=h customer.state %></td>
    <td><%=h customer.zip %></td>
    <td><%= link_to 'View', customer %> | 
		<%= link_to 'Edit', edit_customer_path(customer) %> | 
		<%= link_to 'Delete', customer,
		:confirm => 'Are you sure you want to delete this customer and all associated contracts?',
		:method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<hr />

<%= link_to 'Home', "/" %> | 
<%= link_to 'Add New Customer', new_customer_path %> | 
<%= link_to 'Search Customers', "/search" %>
